{
  "plugins" : [
    "transform-flow-comments",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": true,
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ]
}
